.container {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: row;
}

.closeButton {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton svg {
  fill: #fff;
}

.imageZone {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.imageZone img {
  display: none;
}

.imageZone .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  flex: 1 1;
}

.buttonZone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonInner {
  width: 600px;
  height: 60px;
}

.commentZone {
  width: 350px;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid #eff3f4;
  overflow: auto;
}
