.container {
  padding: 12px 0;
  height: 66px;
  display: flex;
}

.userLogo {
  width: 40px;
  margin-right: 12px;
}

.userLogo img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.userInfo {
  flex: 1 1;
}

.title {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.count {
  color: #536471;
  font-size: 13px;
  line-height: 16px;
}

.followButtonSection {
  width: 76px;
}

.followButtonSection button {
  border: none;
  cursor: pointer;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  border-radius: 16px;
}
